scripts/06_clickup_cortex_sync_v2.json
{
  "name": "clickup-cortex-sync",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -8288,
        8080
      ],
      "id": "d63b6e50-fb4c-411e-ad63-e69e9cb3221f",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "url": "=https://api.clickup.com/api/v2/list/{{ $('Fetch Solution Config').first().json.clickup_list_id }}/task",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "archived",
              "value": "false"
            },
            {
              "name": "include_closed",
              "value": "true"
            },
            {
              "name": "subtasks",
              "value": "true"
            },
            {
              "name": "page",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=pk_93735320_XU6SZJQGN677F46481KDAUGANNZU1GOT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6448,
        8208
      ],
      "id": "8dfada1b-7b1e-48a4-8ac8-c139210b7e2a",
      "name": "Fetch ClickUp Tasks",
      "notes": "GET all tasks from MedGulf Customer Feedback list. Replace CLICKUP_LIST_ID with actual list ID."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  t.id AS ticket_id, \n  t.clickup_task_id, \n  t.status, \n  t.priority, \n  t.title,\n  t.updated_at, \n  (SELECT COUNT(*) FROM main.threads th_count WHERE th_count.ticket_id = t.id) AS thread_count,\n  t.sla_consumption_pct, \n  t.escalation_level,\n  t.sla_status, \n  t.sla_paused_at, \n  t.sla_paused_duration,\n  t.sla_response_due, \n  t.sla_resolution_due,\n  t.created_at, \n  t.is_deleted,\n  COALESCE(\n    (SELECT json_agg(th.clickup_history_id) \n     FROM main.threads th \n     WHERE th.ticket_id = t.id AND th.clickup_history_id IS NOT NULL),\n    '[]'::json\n  ) AS existing_thread_ids\nFROM main.tickets t\nJOIN main.solutions s ON t.solution_id = s.id\nJOIN main.companies c ON s.company_id = c.id\nWHERE c.company_code = 'medgulf'\n  AND (t.is_deleted = false OR t.is_deleted IS NULL);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -7568,
        8208
      ],
      "id": "7c69bf6a-d788-4f4a-9e5f-70622dd81903",
      "name": "Fetch DB Tickets",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  s.id AS solution_id, \n  s.company_id,\n  s.business_hours_start, \n  s.business_hours_end, \n  s.timezone, \n  s.working_days,\n  c.company_code, \n  c.domain\nFROM main.solutions s\nJOIN main.companies c ON s.company_id = c.id\nWHERE c.company_code = 'medgulf' \n  AND s.solution_code = 'app'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -7120,
        8208
      ],
      "id": "ca915b95-91d9-47f7-82ab-7e1c8cd5302a",
      "name": "Fetch Solution Config",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  sc.priority, \n  sc.response_hours, \n  sc.resolution_hours, \n  sc.resolution_type\nFROM main.sla_configs sc\nJOIN main.solutions s ON sc.solution_id = s.id\nJOIN main.companies c ON s.company_id = c.id\nWHERE c.company_code = 'medgulf' \n  AND s.solution_code = 'app';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -6896,
        8208
      ],
      "id": "91bfbeec-008b-46b6-852e-4aa4f2a6d967",
      "name": "Fetch SLA Configs",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pagedData = $('Paginate All Solutions').first().json;\nconst allTasks = pagedData._all_tasks || [];\nconst listMeta = pagedData._list_meta || {};\n\nconst dbAll = $('Merge DB Tickets').first().json._db_tickets || [];\nconst merged = $('Merge Configs').first().json;\nconst solutionFieldConfigs = merged._solution_field_configs || {};\nconst slaBySolution = merged._sla_by_solution || {};\nconst solutionByListId = merged._solution_by_list_id || {};\nconst solutionById = merged._solution_by_id || {};\n\n// DB lookup maps\nconst dbByClickupId = {};\nconst dbByTicketId = {};\nfor (const t of dbAll) {\n  if (t.clickup_task_id) dbByClickupId[t.clickup_task_id] = t;\n  dbByTicketId[t.ticket_id] = t;\n}\n\nconst clickupIdSet = new Set(allTasks.map(t => t.id));\nconst CLOSED_STATUSES = new Set(['closed','resolved','complete','rejected','done']);\nconst PAUSED_STATUSES = new Set(['on hold','on_hold','pending customer','blocked']);\nconst PMAP = { urgent:'P1', high:'P2', normal:'P3', low:'P4' };\n\nconst results = [];\n\n// \u2500\u2500 PASS 1: ClickUp tasks \u2500\u2500\nfor (const task of allTasks) {\n  const listId = task._source_list_id || task.list?.id;\n  const solution = solutionByListId[listId] || Object.values(solutionById)[0];\n  const fieldConfig = solutionFieldConfigs[solution?.solution_id] || {};\n\n  // Extract custom field values by name\n  const cf = {};\n  for (const f of (task.custom_fields || [])) {\n    let val = null;\n    if (f.type === 'drop_down' && f.value != null && f.type_config?.options) {\n      val = f.type_config.options.find(o => o.orderindex === f.value)?.name || null;\n    } else {\n      val = f.value ?? null;\n    }\n    if (f.name) cf[f.name] = val;\n  }\n\n  const priority = task.priority?.priority\n    ? (PMAP[task.priority.priority.toLowerCase()] || 'P3') : 'P3';\n  const statusRaw = task.status?.status || 'open';\n  const statusLower = statusRaw.toLowerCase();\n\n  const base = {\n    clickup_task_id: task.id,\n    clickup_url: task.url,\n    title: task.name || 'Untitled',\n    description: (task.description || '').substring(0, 5000),\n    status: statusRaw,\n    priority,\n    module: cf['Module'] || cf['module'] || null,\n    request_type: cf['Request Type'] || cf['request_type'] || null,\n    case_type: cf['Case Type'] || cf['case_type'] || null,\n    channel: cf['Source'] || cf['source'] || 'clickup',\n    is_closed: CLOSED_STATUSES.has(statusLower),\n    is_paused: PAUSED_STATUSES.has(statusLower),\n    parent_clickup_task_id: task.parent || null,\n    _solution_id: solution?.solution_id,\n    _list_id: listId,\n    _field_config: fieldConfig,\n    _sla_config: slaBySolution[solution?.solution_id] || {},\n    _business_hours_start: solution?.business_hours_start || '08:00',\n    _business_hours_end: solution?.business_hours_end || '20:00',\n    _timezone: solution?.timezone || 'Asia/Dubai',\n    _working_days: solution?.working_days || [0,1,2,3,4,5,6],\n  };\n\n  const existing = dbByClickupId[task.id];\n  if (!existing) {\n    results.push({ json: { ...base, _action: 'NEW', _db_ticket_id: null } });\n  } else {\n    const changed = [];\n    if ((existing.status||'').toLowerCase() !== statusLower) changed.push('status');\n    if (existing.priority !== priority) changed.push('priority');\n    if ((existing.title||'') !== (task.name||'')) changed.push('title');\n    if (existing.module !== base.module) changed.push('module');\n    if (existing.request_type !== base.request_type) changed.push('request_type');\n    if (existing.case_type !== base.case_type) changed.push('case_type');\n\n    results.push({ json: {\n      ...base,\n      _action: changed.length > 0 ? 'EXISTS' : 'SKIP',\n      _db_ticket_id: existing.ticket_id,\n      _changed_fields: changed,\n      _poc_id: existing.poc_id,\n      _sla_response_due: existing.sla_response_due,\n      _sla_resolution_due: existing.sla_resolution_due,\n      _sla_paused_at: existing.sla_paused_at,\n      _sla_paused_duration: existing.sla_paused_duration || 0,\n      _existing_escalation_level: existing.escalation_level || 0,\n      _response_hours: existing.response_hours,\n      _resolution_hours: existing.resolution_hours,\n    }});\n  }\n}\n\n// \u2500\u2500 PASS 2: DB-only tickets (no clickup_task_id, or task vanished from ClickUp) \u2500\u2500\nfor (const t of dbAll) {\n  if (t.is_deleted) continue;\n  if (t.clickup_task_id && clickupIdSet.has(t.clickup_task_id)) continue; // handled above\n\n  if (t.clickup_task_id && !clickupIdSet.has(t.clickup_task_id)) {\n    // Task deleted in ClickUp\n    results.push({ json: { ...t, _action: 'DELETED', _db_ticket_id: t.ticket_id } });\n    continue;\n  }\n\n  // No clickup_task_id \u2192 push to ClickUp\n  const solution = solutionById[t.solution_id];\n  if (!solution) continue;\n  const fieldConfig = solutionFieldConfigs[t.solution_id] || {};\n  const slaConfig = slaBySolution[t.solution_id]?.[t.priority] || {};\n  results.push({ json: {\n    ...t,\n    _action: 'DB_ONLY',\n    _db_ticket_id: t.ticket_id,\n    _solution_id: t.solution_id,\n    _list_id: solution.clickup_list_id,\n    _field_config: fieldConfig,\n    _business_hours_start: solution.business_hours_start || '08:00',\n    _business_hours_end: solution.business_hours_end || '20:00',\n    _timezone: solution.timezone || 'Asia/Dubai',\n    _response_hours: slaConfig.response_hours || 8,\n    _resolution_hours: slaConfig.resolution_hours || 24,\n  }});\n}\n\nreturn results.length > 0 ? results : [{ json: { _action: 'NOOP' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6224,
        8208
      ],
      "id": "65c81a1f-6e1b-4f1b-a0ac-e169eef807b0",
      "name": "Compare & Classify"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -6000,
        8208
      ],
      "id": "6b0b1530-4303-47d7-b381-6ba44f1fd19e",
      "name": "Loop Each Ticket"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3ae22f00-544c-4d2d-9c51-42c012d3d1f5",
                    "leftValue": "={{ $json._sync_action }}",
                    "rightValue": "NEW",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Ticket"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "420cb14c-51c6-4031-a6bd-9285851efd7b",
                    "leftValue": "={{ $json._sync_action }}",
                    "rightValue": "EXISTS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Existing Ticket"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "915fc6c1-91ce-4aca-9fe2-7b6ee08a5118",
                    "leftValue": "={{ $json._sync_action }}",
                    "rightValue": "DELETED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Deleted Ticket"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d100e3d6-5a02-4628-a90d-76d2c626af05",
                    "leftValue": "={{ $json._action }}",
                    "rightValue": "DB_ONLY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DB_ONLY"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5776,
        8176
      ],
      "id": "a3a45e4d-df4e-4ff8-9f5b-8d2185ff77fd",
      "name": "Route by Action"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id AS poc_id, \n  email, \n  name, \n  company_id\nFROM main.pocs\nWHERE email = '{{ $json.created_by_email }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -5088,
        8096
      ],
      "id": "6bbb6e10-ef46-4269-b08d-b871bdb35823",
      "name": "Check POC Exists",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('Route by Action').first().json;\nconst pocResult = $input.first().json;\n\nlet pocId = pocResult?.poc_id || null;\nlet pocAction = pocId ? 'EXISTING' : 'CREATE';\n\nreturn [{\n  json: {\n    ...ticket,\n    _poc_id: pocId,\n    _poc_action: pocAction,\n    _poc_type: pocId ? 'known' : 'pending' // resolved after Create POC\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4864,
        8096
      ],
      "id": "4138ad19-7764-4dfd-888a-2a434ad03a46",
      "name": "Evaluate POC"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "poc-needs-create",
              "leftValue": "={{ $json._poc_action }}",
              "rightValue": "CREATE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4432,
        8096
      ],
      "id": "6e769520-a3eb-431d-916e-c17dd125f3d3",
      "name": "POC Needs Create?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO main.pocs (company_id, email, name, status, created_at, updated_at)\nVALUES (\n  (\n    SELECT c.id \n    FROM main.companies c \n    WHERE split_part('{{ $json.created_by_email }}', '@', 2) ILIKE '%' || c.domain || '%'\n    LIMIT 1\n  ),\n  {{ $json.created_by_email ? \"'\" + $json.created_by_email + \"'\" : 'NULL' }},\n  {{ $json.created_by_name ? \"'\" + $json.created_by_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  'active',\n  NOW(), NOW()\n)\nON CONFLICT (email) DO UPDATE SET\n  name = COALESCE(EXCLUDED.name, main.pocs.name),\n  company_id = COALESCE(EXCLUDED.company_id, main.pocs.company_id),\n  updated_at = NOW()\nRETURNING id AS poc_id, email, name, company_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -4208,
        8016
      ],
      "id": "17aa0b24-a721-479d-aaa2-001553682a48",
      "name": "Create POC",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge POC ID back into ticket data\nconst ticket = $('Evaluate POC').first().json;\nconst pocAction = ticket._poc_action;\n\nlet pocId;\nif (pocAction === 'CREATE') {\n  pocId = $('Create POC').first().json.poc_id;\n} else {\n  pocId = ticket._poc_id;\n}\n\nreturn [{\n  json: {\n    ...ticket,\n    _poc_id: pocId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3984,
        8096
      ],
      "id": "fca17cf5-5f08-4ee6-b801-e5fa54614cd3",
      "name": "Merge POC ID"
    },
    {
      "parameters": {
        "jsCode": "// ===== BUILD LLM PROFILING REQUEST =====\nconst ticket = $input.first().json;\nconst modules = ['Login/Sign Up','Language','Landing Page (Home)','My Health','Cash Claims','Call Doctor Now','Appointment','AI Companion','Apps Sections and Functions','Digital Twin','Wellness'];\n\nconst systemPrompt = `You are an expert support ticket classifier for MedGulf healthcare mobile app.\n\nYour job is to analyze a new support ticket and return a structured JSON profile.\n\nAvailable modules: ${modules.join(', ')}\n\nRequest types:\n- Incident: Unplanned interruption or quality reduction of a service\n- Service Request: User guidance, configuration change, or access request\n- Problem: Recurring incident needing root cause investigation\n- Change Request: New feature or enhancement request\n\nPriority levels (assess based on impact and urgency):\n- P1 (Critical): Complete system/app outage or total loss of service\n- P2 (High): Major functionality impaired, core operations impacted\n- P3 (Medium): Partial disruption affecting non-core functions\n- P4 (Low): Minor issue with limited impact\n- P5 (Very Low): Isolated issue with minimal impact\n\nRespond ONLY with valid JSON, no markdown, no explanation:\n{\n  \"request_type\": \"Incident|Service Request|Problem|Change Request\",\n  \"case_type\": \"<brief case type label, e.g. 'Login Failure', 'Crash on Launch'>\",\n  \"priority\": \"P1|P2|P3|P4|P5\",\n  \"sentiment\": \"positive|neutral|negative|frustrated|angry\",\n  \"summary\": \"<1-2 sentence summary of the issue>\",\n  \"module\": \"<best matching module from the list, or 'Unknown'>\"\n}`;\n\nconst userMessage = `Ticket Title: ${ticket.title}\\n\\nDescription:\\n${ticket.description || 'No description provided'}\\n\\nReported Module: ${ticket.module || 'Not specified'}\\nReporter: ${ticket.created_by_name || 'Unknown'}\\nTags: ${(ticket.tags || []).join(', ') || 'None'}`;\n\nconst requestBody = {\n  temperature: 0.1,\n  model: 'gpt-4o',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userMessage }\n  ]\n};\n\nreturn [{\n  json: {\n    requestBody: JSON.stringify(requestBody),\n    _ticket: ticket\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3760,
        8096
      ],
      "id": "b32a2737-4287-42b2-b588-05e6a70ecd8a",
      "name": "Build LLM Profile Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.core42.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 395a4d599312411fac54f6044d9d7f16"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3536,
        8096
      ],
      "id": "1146a43b-5382-48dc-b04c-ebcc198ffc1f",
      "name": "LLM Call - Profile"
    },
    {
      "parameters": {
        "jsCode": "const llmResp = $input.first().json;\nconst prev = $('Build LLM Profile Request').first().json;\nconst ticket = prev._ticket;\n\n// Parse LLM profile\nlet profile;\ntry {\n  const content = llmResp.choices?.[0]?.message?.content || '{}';\n  profile = JSON.parse(content.replace(/```json|```/g, '').trim());\n} catch(e) {\n  profile = { request_type: 'Incident', case_type: 'Support', priority: ticket.priority || 'P3',\n              sentiment: 'neutral', summary: ticket.title, module: ticket.module || 'General' };\n}\n\nconst priority = profile.priority || ticket.priority || 'P3';\n\n// SLA hours from DB (not hardcoded)\nconst slaConfig = ticket._sla_config?.[priority] || {};\nconst responseHours = ticket._response_hours || slaConfig.response_hours || 8;\nconst resolutionHours = ticket._resolution_hours || slaConfig.resolution_hours || 24;\n\nconst businessStart = parseInt((ticket._business_hours_start || '08:00').split(':')[0]);\nconst businessEnd   = parseInt((ticket._business_hours_end   || '20:00').split(':')[0]);\nconst workingHoursPerDay = businessEnd - businessStart;\n\nfunction addBusinessHours(startDate, hoursToAdd, bizStart, bizEnd) {\n  let current = new Date(startDate);\n  let remaining = hoursToAdd;\n  const whpd = bizEnd - bizStart;\n  while (remaining > 0) {\n    const h = current.getHours();\n    if (h < bizStart) { current.setHours(bizStart, 0, 0, 0); continue; }\n    if (h >= bizEnd) { current.setDate(current.getDate()+1); current.setHours(bizStart, 0, 0, 0); continue; }\n    const availableToday = bizEnd - h - (current.getMinutes()/60);\n    if (remaining <= availableToday) { current.setTime(current.getTime() + remaining*3600*1000); remaining = 0; }\n    else { remaining -= availableToday; current.setDate(current.getDate()+1); current.setHours(bizStart, 0, 0, 0); }\n  }\n  return current;\n}\n\nconst now = new Date();\nconst slaResponseDue   = addBusinessHours(now, responseHours,   businessStart, businessEnd);\nconst slaResolutionDue = addBusinessHours(now, resolutionHours, businessStart, businessEnd);\n\nreturn [{\n  json: {\n    ...prev,\n    _parsed_priority: priority,\n    _parsed_request_type: profile.request_type || ticket.request_type,\n    _parsed_case_type: profile.case_type || ticket.case_type,\n    _parsed_module: profile.module || ticket.module,\n    _parsed_sentiment: profile.sentiment || 'neutral',\n    _parsed_summary: profile.summary || ticket.title,\n    _sla_response_due: slaResponseDue.toISOString(),\n    _sla_resolution_due: slaResolutionDue.toISOString(),\n    _response_hours: responseHours,\n    _resolution_hours: resolutionHours,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3312,
        8096
      ],
      "id": "bb8d4755-0342-4bca-8fd5-e56a0d553bca",
      "name": "Parse LLM + Calculate SLA"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO main.tickets (\n  company_id, solution_id, poc_id, clickup_task_id, clickup_url,\n  title, description, module, operating_system, mobile_or_national_id,\n  request_type, case_type, priority, status,\n  sla_response_due, sla_resolution_due, sla_consumption_pct, sla_status,\n  escalation_level, ai_summary, ai_sentiment,\n  created_at, updated_at, created_by_email, created_by_name\n) VALUES (\n  (SELECT c.id FROM main.companies c WHERE c.company_code = 'medgulf' LIMIT 1),\n  (SELECT s.id FROM main.solutions s JOIN main.companies c ON s.company_id = c.id WHERE c.company_code = 'medgulf' AND s.solution_code = 'app' LIMIT 1),\n  {{ $json._poc_id ? $json._poc_id : 'NULL' }},\n  '{{ $json.clickup_task_id }}',\n  '{{ $json.clickup_url }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  {{ $json.description ? \"'\" + $json.description.replace(/'/g, \"''\").replace(/\\n/g, ' ') + \"'\" : 'NULL' }},\n  {{ $json.module ? \"'\" + $json.module.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.operating_system ? \"'\" + $json.operating_system + \"'\" : 'NULL' }},\n  {{ $json.mobile_or_national_id ? \"'\" + $json.mobile_or_national_id + \"'\" : 'NULL' }},\n  {{ $json.request_type ? \"'\" + $json.request_type + \"'\" : 'NULL' }},\n  {{ $json.case_type ? \"'\" + $json.case_type.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.priority }}',\n  '{{ $json.status }}',\n  {{ $json.sla_response_due ? \"'\" + $json.sla_response_due + \"'\" : 'NULL' }},\n  {{ $json.sla_resolution_due ? \"'\" + $json.sla_resolution_due + \"'\" : 'NULL' }},\n  0,\n  'healthy',\n  0,\n  {{ $json.ai_summary ? \"'\" + $json.ai_summary.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.ai_sentiment ? \"'\" + $json.ai_sentiment + \"'\" : 'NULL' }},\n  '{{ $json.created_at }}',\n  NOW(),\n  {{ $json.created_by_email ? \"'\" + $json.created_by_email + \"'\" : 'NULL' }},\n  {{ $json.created_by_name ? \"'\" + $json.created_by_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }}\n)\nON CONFLICT (clickup_task_id) DO UPDATE SET\n  status = EXCLUDED.status,\n  priority = EXCLUDED.priority,\n  request_type = EXCLUDED.request_type,\n  case_type = EXCLUDED.case_type,\n  ai_summary = EXCLUDED.ai_summary,\n  ai_sentiment = EXCLUDED.ai_sentiment,\n  sla_response_due = EXCLUDED.sla_response_due,\n  sla_resolution_due = EXCLUDED.sla_resolution_due,\n  updated_at = NOW()\nRETURNING id AS ticket_id, clickup_task_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -3088,
        8096
      ],
      "id": "3827606f-f10d-40ea-aa7a-aa930d55120c",
      "name": "Insert New Ticket",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Insert the initial thread (ticket creation event)\nconst insertResult = $('Insert New Ticket').first().json;\nconst ticketData = $('Parse LLM + Calculate SLA').first().json;\n\nreturn [{\n  json: {\n    ticket_id: insertResult.ticket_id,\n    action_type: 'ticket_created',\n    actor_email: ticketData.created_by_email,\n    actor_name: ticketData.created_by_name,\n    raw_content: ticketData.description || ticketData.title,\n    ai_summary: ticketData.ai_summary,\n    created_at: ticketData.created_at\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2864,
        8096
      ],
      "id": "06bd2155-2f28-42dc-b91d-c860ecb95dc2",
      "name": "Build Initial Thread"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO main.threads (\n  ticket_id, action_type, actor_email, actor_name,\n  raw_content, ai_summary, created_at\n) VALUES (\n  {{ $json.ticket_id }},\n  '{{ $json.action_type }}',\n  {{ $json.actor_email ? \"'\" + $json.actor_email + \"'\" : 'NULL' }},\n  {{ $json.actor_name ? \"'\" + $json.actor_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.raw_content ? \"'\" + $json.raw_content.substring(0, 5000).replace(/'/g, \"''\").replace(/\\n/g, ' ') + \"'\" : 'NULL' }},\n  {{ $json.ai_summary ? \"'\" + $json.ai_summary.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  '{{ $json.created_at }}'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2640,
        8096
      ],
      "id": "c2695aaf-5dd8-468d-accf-65dd0cd22e80",
      "name": "Insert Initial Thread",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return to loop\nreturn [{ json: { _done: true, _sync_action: 'NEW', clickup_task_id: $('Route by Action').first().json.clickup_task_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2416,
        8096
      ],
      "id": "b0dcb4cb-0a5a-4ce6-9003-c7f74607c5d0",
      "name": "New Ticket Done"
    },
    {
      "parameters": {
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.clickup_task_id }}/comment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=pk_93735320_XU6SZJQGN677F46481KDAUGANNZU1GOT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5120,
        8576
      ],
      "id": "043da09d-7218-41e7-bdb9-3ffdfd0ca806",
      "name": "Fetch ClickUp Comments"
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('Route by Action').first().json;\nconst commentsRaw = $input.first().json;\nconst comments = commentsRaw.comments || [];\n\nconst existingThreadIds = ticket._existing_thread_ids || [];\nconst existingIdSet = new Set(existingThreadIds.map(String));\nconst newComments = comments.filter(c => !existingIdSet.has(String(c.id)));\n\nconst changes = ticket._changed_fields || [];\nconst hasNewComments = newComments.length > 0;\nconst hasFieldChanges = changes.length > 0;\n\n// SLA impact detection\nlet slaImpact = 'none';\nconst statusLower = ticket.status?.toLowerCase();\n\nif (changes.includes('status')) {\n  if (['on hold', 'blocked', 'on_hold'].includes(statusLower)) {\n    slaImpact = 'pause';\n  } else if (['open', 'in progress', 'in_progress', 'active'].includes(statusLower)) {\n    slaImpact = 'resume';\n  } else if (['closed', 'resolved', 'complete', 'rejected', 'done'].includes(statusLower)) {\n    slaImpact = 'stop';\n  }\n}\n\n// Priority change with DIRECTION\nlet priorityChangeDirection = null;\nif (changes.includes('priority')) {\n  const pRank = { 'P1': 1, 'P2': 2, 'P3': 3, 'P4': 4, 'P5': 5 };\n  const oldR = pRank[ticket._existing_priority] || 3;\n  const newR = pRank[ticket.priority] || 3;\n  if (newR < oldR) {\n    priorityChangeDirection = 'upgrade';\n    slaImpact = 'priority_upgrade';\n  } else if (newR > oldR) {\n    priorityChangeDirection = 'downgrade';\n    slaImpact = 'priority_downgrade';\n  }\n}\n\nreturn [{\n  json: {\n    ...ticket,\n    _new_comments: newComments,\n    _has_new_comments: hasNewComments,\n    _has_field_changes: hasFieldChanges,\n    _has_any_changes: hasNewComments || hasFieldChanges,\n    _sla_impact: slaImpact,\n    _priority_change_direction: priorityChangeDirection,\n    _all_comment_ids: comments.map(c => String(c.id))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4896,
        8576
      ],
      "id": "174d7d1d-5f56-47d1-a639-cf5510975c74",
      "name": "Detect Changes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-any-changes",
              "leftValue": "={{ $json._has_any_changes }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4672,
        8576
      ],
      "id": "312d7997-a49e-49f0-a6f0-ece5323145b2",
      "name": "Has Changes?"
    },
    {
      "parameters": {
        "jsCode": "// \u2500\u2500\u2500 THREAD COMPACTION (run-length encoding for consecutive duplicates) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\n\nfunction getSignature(t) {\n  return `${t.action_type}|${String(t.raw_content).trim()}|${String(t.new_value).trim()}`;\n}\n\nfunction compactThreads(threads) {\n  const compacted = [];\n  let i = 0;\n\n  while (i < threads.length) {\n    const current = threads[i];\n    const sig = getSignature(current);\n    let count = 1;\n    let j = i + 1;\n\n    while (j < threads.length && getSignature(threads[j]) === sig) {\n      count++;\n      j++;\n    }\n\n    if (count > 1) {\n      const last = threads[j - 1];\n      const firstTime = new Date(current.created_at).toISOString().replace('T', ' ').substring(0, 16);\n      const lastTime  = new Date(last.created_at).toISOString().replace('T', ' ').substring(0, 16);\n\n      compacted.push({\n        id: current.id,\n        action_type: current.action_type,\n        actor_name: current.actor_name,\n        actor_email: current.actor_email,\n        old_value: current.old_value,\n        new_value: current.new_value,\n        raw_content: current.raw_content,\n        ai_summary: current.ai_summary || current.raw_content,\n        created_at: current.created_at,\n        thread_source: current.thread_source,\n        metadata: current.metadata,\n        _collapsed: true,\n        _count: count,\n        _first_at: current.created_at,\n        _last_at: last.created_at,\n        _collapse_note: `\u21bb Repeated \u00d7${count} (${firstTime} \u2192 ${lastTime})`\n      });\n    } else {\n      compacted.push({ ...current, _collapsed: false, _count: 1 });\n    }\n\n    i = j;\n  }\n\n  return compacted;\n}\n\nfunction deduplicateSlaComments(threads) {\n  const toRemove = new Set();\n\n  threads.forEach((t, idx) => {\n    if (t.action_type !== 'comment') return;\n    if (!t.raw_content || !t.raw_content.includes('SLA ESCALATION')) return;\n\n    const tTime = new Date(t.created_at).getTime();\n    const window = threads.slice(Math.max(0, idx - 3), Math.min(threads.length, idx + 4));\n    const hasPair = window.some(w =>\n      w.id !== t.id &&\n      w.action_type === 'sla_escalation' &&\n      Math.abs(new Date(w.created_at).getTime() - tTime) <= 5000\n    );\n\n    if (hasPair) toRemove.add(t.id);\n  });\n\n  return threads.filter(t => !toRemove.has(t.id));\n}\n\nfunction buildEntry(t) {\n  const time = new Date(t.created_at).toISOString().replace('T', ' ').substring(0, 16) + 'Z';\n  const actor = t.actor_name || t.actor_email || 'system';\n  const collapseNote = t._collapsed ? `  ${t._collapse_note}` : '';\n\n  switch (t.action_type) {\n    case 'ticket_created':\n      return `[${time}] CREATED by ${actor}\\n  ${(t.ai_summary || t.raw_content || '').substring(0, 600)}`;\n\n    case 'field_change': {\n      let details = t.raw_content || '';\n      try {\n        const nv = typeof t.new_value === 'string' ? JSON.parse(t.new_value) : t.new_value;\n        if (nv && typeof nv === 'object') {\n          details = 'Changed: ' + Object.entries(nv).map(([k, v]) => `${k}=${v}`).join(', ')\n                  + (t.raw_content ? ` | ${t.raw_content}` : '');\n        }\n      } catch (_) {}\n      return `[${time}] FIELD CHANGE by ${actor}: ${details.substring(0, 200)}${collapseNote}`;\n    }\n\n    case 'comment':\n      return `[${time}] COMMENT by ${actor}:\\n  ${(t.raw_content || '').substring(0, 400)}`;\n\n    case 'sla_escalation': {\n      const pct = t.metadata?.pct ?? 'N/A';\n      const lvl = t.metadata?.level ?? '?';\n      return `[${time}] SLA ESCALATION E${lvl} at ${pct}% by ${actor}: ${(t.ai_summary || t.raw_content || '').substring(0, 200)}`;\n    }\n\n    case 'status_change':\n      return `[${time}] STATUS CHANGE by ${actor}: ${t.old_value || '?'} \u2192 ${t.new_value || '?'}${collapseNote}`;\n\n    case 'assignment':\n      return `[${time}] ASSIGNED by ${actor}: ${(t.raw_content || '').substring(0, 200)}`;\n\n    case 'priority_change':\n      return `[${time}] PRIORITY CHANGE by ${actor}: ${t.old_value || '?'} \u2192 ${t.new_value || '?'}`;\n\n    case 'resolution':\n      return `[${time}] RESOLVED by ${actor}: ${(t.ai_summary || t.raw_content || '').substring(0, 300)}`;\n\n    default:\n      return `[${time}] ${t.action_type.toUpperCase()} by ${actor}: ${(t.ai_summary || t.raw_content || '').substring(0, 200)}${collapseNote}`;\n  }\n}\n\n// \u2500\u2500\u2500 MAIN \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst ticket = $('Detect Changes').first().json;  // \u2190 original ticket with all fields\nconst rawThreads = $input.all().map(i => i.json); // \u2190 thread rows from Fetch All Threads\n\nconst ticketData = ticket;\nconst slaData    = {};\nconst escalations = [];\n\n// \u2500\u2500\u2500 RUN COMPACTION \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst dedupedThreads   = deduplicateSlaComments(rawThreads);\nconst compactedThreads = compactThreads(dedupedThreads);\nconst timelineLines    = compactedThreads.map(buildEntry).filter(Boolean);\n\n// \u2500\u2500\u2500 Stats \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst originalCount  = rawThreads.length;\nconst compactedCount = compactedThreads.length;\nconst reductionPct   = originalCount > 0\n  ? Math.round((1 - compactedCount / originalCount) * 100)\n  : 0;\n\nconst slaEscalations = compactedThreads.filter(t => t.action_type === 'sla_escalation');\nconst escalationSummary = slaEscalations.length > 0\n  ? slaEscalations.map(e => `E${e.metadata?.level} @ ${e.metadata?.pct}%`).join(' \u2192 ')\n  : 'None';\n\n// \u2500\u2500\u2500 Prompts \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst systemPrompt = `You are a technical support analyst summarizing ticket activity for MedGulf healthcare app support.\n\nThread history has been compacted using run-length encoding \u2014 consecutive identical events are shown as a single entry with a repeat count (\u21bb Repeated \u00d7N).\n\nRespond ONLY with valid JSON, no markdown, no code blocks:\n{\n  \"action_summary\": \"<detailed summary of the ticket issue, key actions taken, and current state>\",\n  \"sla_note\": \"<SLA escalation progression and breach status, or 'none' if no SLA concerns>\",\n  \"sentiment_shift\": \"positive|neutral|negative|none\"\n}`;\n\nconst userPrompt = `TICKET #${ticketData.ticket_number || ticketData.id || 'N/A'}\nTitle: ${ticketData.title || 'N/A'}\nStatus: ${ticketData.status || 'N/A'} | Priority: ${ticketData.priority || 'N/A'}\nCreated: ${ticketData.created_at || 'N/A'}\nSLA Consumption: ${slaData.consumption_pct ?? 'N/A'}% | Breach: ${slaData.is_breached ? 'YES' : 'No'}\nEscalation Progression: ${escalationSummary}\n\n--- THREAD HISTORY (${compactedCount} entries, compacted from ${originalCount}, \u2212${reductionPct}%) ---\n${timelineLines.join('\\n\\n')}\n--- END THREAD HISTORY ---\n\nPlease summarize this ticket.`;\n\nconst requestBody = {\n  model: 'gpt-4o',\n  temperature: 0.1,\n  max_tokens: 1000,\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user',   content: userPrompt }\n  ]\n};\n\nreturn [{\n  json: {\n    requestBody: JSON.stringify(requestBody),\n    _ticket: ticket,  // \u2190 full ticket directly, no spreading needed\n    _original_thread_count:  originalCount,\n    _compacted_thread_count: compactedCount,\n    _reduction_pct:          reductionPct,\n    _sla_escalation_count:   slaEscalations.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4240,
        8480
      ],
      "id": "f5cfee1e-c0d0-491c-8f29-a0fb6cb3645b",
      "name": "Build LLM Summary Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.core42.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 395a4d599312411fac54f6044d9d7f16"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4016,
        8480
      ],
      "id": "5936159f-e40b-4284-a28e-f217c8b10d99",
      "name": "LLM Call - Summarize",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const llmResp = $input.first().json;\nconst ticket = $('Build LLM Summary Request').first().json._ticket;\n\nlet summary;\ntry {\n  const content = llmResp.choices?.[0]?.message?.content || '{}';\n  summary = JSON.parse(content.replace(/```json|```/g, '').trim());\n} catch (e) {\n  summary = { action_summary: 'Ticket updated', sla_note: 'none', sentiment_shift: 'none' };\n}\n\nconst slaConfigs = ticket._sla_configs || [];\nconst cfg = ticket._solution_config || {};\nconst bhS = parseInt((cfg.business_hours_start || '08:00').split(':')[0]);\nconst bhE = parseInt((cfg.business_hours_end || '20:00').split(':')[0]);\n\nfunction addBH(startDate, hours) {\n  if (!hours || hours <= 0) return null;\n  let cur = new Date(startDate);\n  let rem = hours;\n  for (let i = 0; i < 500 && rem > 0; i++) {\n    const dh = cur.getUTCHours() + 4;\n    const ah = dh >= 24 ? dh - 24 : dh;\n    if (ah >= bhS && ah < bhE) {\n      const left = bhE - ah;\n      const c = Math.min(rem, left);\n      rem -= c;\n      cur = new Date(cur.getTime() + c * 3600000);\n    } else if (ah < bhS) {\n      cur = new Date(cur.getTime() + (bhS - ah) * 3600000);\n    } else {\n      cur = new Date(cur.getTime() + ((24 - ah) + bhS) * 3600000);\n    }\n  }\n  return cur.toISOString();\n}\n\nlet slaUpdate = {};\nconst impact = ticket._sla_impact;\n\nif (impact === 'pause') {\n  slaUpdate = { sla_paused_at: new Date().toISOString(), sla_status: 'paused' };\n\n} else if (impact === 'resume') {\n  if (ticket._existing_sla_paused_at) {\n    const pausedMs = Date.now() - new Date(ticket._existing_sla_paused_at).getTime();\n    const pausedHrs = Math.round(pausedMs / 3600000 * 100) / 100;\n    slaUpdate = { sla_paused_at: null, sla_status: 'healthy', _add_paused_hours: pausedHrs };\n  } else {\n    slaUpdate = { sla_status: 'healthy' };\n  }\n\n} else if (impact === 'priority_upgrade') {\n  // SLA RESETS from NOW (per MedGulf governance: upgrade resets timer)\n  const sc = slaConfigs.find(s => s.priority === ticket.priority);\n  if (sc) {\n    const now = new Date();\n    slaUpdate = {\n      sla_response_due: sc.response_hours ? addBH(now, sc.response_hours) : null,\n      sla_resolution_due: sc.resolution_hours ? addBH(now, sc.resolution_hours) : null,\n      sla_status: 'healthy',\n      sla_consumption_pct: 0,\n      sla_paused_at: null,\n      sla_paused_duration: '0'\n    };\n  }\n\n} else if (impact === 'priority_downgrade') {\n  // SLA CONTINUES from original created_at (per governance: downgrade doesn't reset)\n  const sc = slaConfigs.find(s => s.priority === ticket.priority);\n  if (sc) {\n    const createdAt = ticket.created_at || new Date().toISOString();\n    slaUpdate = {\n      sla_response_due: sc.response_hours ? addBH(createdAt, sc.response_hours) : null,\n      sla_resolution_due: sc.resolution_hours ? addBH(createdAt, sc.resolution_hours) : null\n    };\n  }\n\n} else if (impact === 'stop') {\n  slaUpdate = { sla_status: 'resolved' };\n}\n\nreturn [{\n  json: {\n    ...ticket,\n    _action_summary: summary.action_summary,\n    _sla_note: summary.sla_note,\n    _sentiment_shift: summary.sentiment_shift,\n    _sla_update: slaUpdate\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3792,
        8480
      ],
      "id": "c4fd8c37-513d-40d7-b364-fca55a4be57d",
      "name": "Parse Summary + SLA Impact"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE main.tickets SET\n  status = '{{ $json.status }}',\n  priority = '{{ $json.priority }}',\n  ai_summary = {{ $json._action_summary ? \"'\" + $json._action_summary.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  ai_sentiment = {{ $json._sentiment_shift && $json._sentiment_shift !== 'none' ? \"'\" + $json._sentiment_shift + \"'\" : 'ai_sentiment' }},\n  closed_at = {{ $json.closed_at ? \"'\" + $json.closed_at + \"'\" : 'closed_at' }},\n  resolved_at = {{ $json._sla_update?.sla_status === 'resolved' ? 'NOW()' : 'resolved_at' }},\n  sla_status = {{ $json._sla_update?.sla_status ? \"'\" + $json._sla_update.sla_status + \"'\" : 'sla_status' }},\n  sla_paused_at = {{ $json._sla_update?.sla_paused_at === null ? 'NULL' : ($json._sla_update?.sla_paused_at ? \"'\" + $json._sla_update.sla_paused_at + \"'\" : 'sla_paused_at') }},\n  sla_response_due = {{ $json._sla_update?.sla_response_due ? \"'\" + $json._sla_update.sla_response_due + \"'\" : 'sla_response_due' }},\n  sla_resolution_due = {{ $json._sla_update?.sla_resolution_due ? \"'\" + $json._sla_update.sla_resolution_due + \"'\" : 'sla_resolution_due' }},\n  sla_consumption_pct = {{ $json._sla_update?.sla_consumption_pct !== undefined ? $json._sla_update.sla_consumption_pct : 'sla_consumption_pct' }},\n  updated_at = NOW()\nWHERE id = {{ $json._db_ticket_id }}\nRETURNING id AS ticket_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -3568,
        8480
      ],
      "id": "d7b0e64f-6897-43c9-ba79-c0dd6e9ec8e7",
      "name": "Update Existing Ticket",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== INSERT NEW THREADS (Comments + Field Changes) =====\nconst ticketData = $('Parse Summary + SLA Impact').first().json;\nconst updateResult = $('Update Existing Ticket').first().json;\nconst ticketId = updateResult.ticket_id;\n\nconst threads = [];\n\n// 1. Insert comment threads\nconst newComments = ticketData._new_comments || [];\nfor (const c of newComments) {\n  const author = c.user?.username || c.user?.email || 'Unknown';\n  const authorEmail = c.user?.email || null;\n  const commentText = c.comment_text || (c.comment || []).map(p => p.text || '').join(' ');\n  \n  threads.push({\n    json: {\n      ticket_id: ticketId,\n      clickup_history_id: String(c.id),\n      action_type: 'comment',\n      actor_email: authorEmail,\n      actor_name: author,\n      raw_content: commentText.substring(0, 5000),\n      ai_summary: null,\n      has_attachments: (c.attachments || []).length > 0,\n      created_at: c.date ? new Date(parseInt(c.date)).toISOString() : new Date().toISOString()\n    }\n  });\n}\n\n// 2. Insert field change threads\nconst changedFields = ticketData._changed_fields || [];\nif (changedFields.length > 0 && changedFields.some(f => f !== 'updated_at')) {\n  threads.push({\n    json: {\n      ticket_id: ticketId,\n      clickup_history_id: null,\n      action_type: 'field_change',\n      actor_email: null,\n      actor_name: 'system',\n      raw_content: `Fields changed: ${changedFields.join(', ')}`,\n      ai_summary: ticketData._action_summary,\n      new_value: JSON.stringify({ status: ticketData.status, priority: ticketData.priority }),\n      has_attachments: false,\n      created_at: new Date().toISOString()\n    }\n  });\n}\n\nif (threads.length === 0) {\n  return [{ json: { \n    _done: true, \n    _no_threads: true, \n    _sync_action: 'EXISTS', \n    clickup_task_id: ticketData.clickup_task_id,\n    ticket_id: ticketId \n  } }];\n}\n\nreturn threads;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3344,
        8480
      ],
      "id": "735bc820-8dad-451c-9448-59fc2419d2e4",
      "name": "Build Update Threads"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO main.threads (\n  ticket_id, clickup_history_id, action_type,\n  actor_email, actor_name, raw_content, ai_summary,\n  new_value, has_attachments, created_at\n) VALUES (\n  {{ $json.ticket_id }},\n  {{ $json.clickup_history_id ? \"'\" + $json.clickup_history_id + \"'\" : 'NULL' }},\n  '{{ $json.action_type }}',\n  {{ $json.actor_email ? \"'\" + $json.actor_email + \"'\" : 'NULL' }},\n  {{ $json.actor_name ? \"'\" + $json.actor_name.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.raw_content ? \"'\" + $json.raw_content.replace(/'/g, \"''\").replace(/\\n/g, ' ') + \"'\" : 'NULL' }},\n  {{ $json.ai_summary ? \"'\" + $json.ai_summary.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.new_value ? \"'\" + $json.new_value.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.has_attachments || false }},\n  '{{ $json.created_at }}'\n)\nON CONFLICT (clickup_history_id) WHERE clickup_history_id IS NOT NULL DO NOTHING\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -3120,
        8480
      ],
      "id": "d2811c5d-e960-419f-8e35-495f3f607f58",
      "name": "Insert Update Threads",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { _done: true, _sync_action: 'EXISTS', clickup_task_id: $('Route by Action').first().json.clickup_task_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2896,
        8480
      ],
      "id": "3ef12e28-f769-405c-a295-2958592d89de",
      "name": "Existing Ticket Done"
    },
    {
      "parameters": {
        "jsCode": "// No changes - skip\nreturn [{ json: { _done: true, _sync_action: 'EXISTS_NO_CHANGE', clickup_task_id: $('Route by Action').first().json.clickup_task_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4240,
        8672
      ],
      "id": "d0105644-3da3-48d3-b988-176e0e375fd7",
      "name": "Skip No Changes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE main.tickets SET\n  is_deleted = true,\n  deleted_at = NOW(),\n  status = 'deleted',\n  updated_at = NOW()\nWHERE id = {{ $json._db_ticket_id }}\nRETURNING id AS ticket_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -5168,
        9056
      ],
      "id": "f84fd4cf-c5d5-4e93-8123-102562605ae1",
      "name": "Soft Delete Ticket",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { _done: true, _sync_action: 'DELETED', clickup_task_id: $('Soft Delete Ticket').first().json.ticket_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4944,
        9056
      ],
      "id": "b4a3ba3b-b0ce-4379-bbc7-9ee57df899da",
      "name": "Delete Done"
    },
    {
      "parameters": {
        "jsCode": "// No-op for NONE or fallback\nreturn [{ json: { _done: true, _sync_action: 'NONE' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5168,
        9312
      ],
      "id": "7686d527-7fce-4b81-be1f-48ac7fe02bf0",
      "name": "No-Op"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1888,
        8688
      ],
      "id": "e8c25efd-c1be-46df-83be-dde256d516d4",
      "name": "Merge All Paths"
    },
    {
      "parameters": {
        "jsCode": "// Just pass through to loop\nreturn [{ json: { _continue: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        8688
      ],
      "id": "e98e66c1-b0ef-4b5e-9423-6a7cccb7d2ac",
      "name": "Continue Loop"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id AS ticket_id, t.clickup_task_id, t.title, t.priority,\n  t.sla_response_due, t.sla_resolution_due,\n  t.sla_consumption_pct, t.sla_status, t.escalation_level,\n  t.sla_paused_at, t.sla_paused_duration,\n  t.created_at,\n  sc.response_hours, sc.resolution_hours\nFROM main.tickets t\nJOIN main.solutions s ON t.solution_id = s.id\nJOIN main.companies c ON s.company_id = c.id\nLEFT JOIN main.sla_configs sc ON sc.solution_id = s.id AND sc.priority = t.priority\nWHERE c.company_code = 'medgulf'\n  AND t.sla_status NOT IN ('resolved', 'paused')\n  AND (t.is_deleted = false OR t.is_deleted IS NULL)\n  AND t.status NOT IN ('closed', 'resolved', 'deleted')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -4224,
        7184
      ],
      "id": "1c733aa1-dfad-46ea-a5b1-d015193d33c7",
      "name": "Fetch Active Tickets for SLA",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tickets = $input.all().map(i => i.json);\nconst results = [];\n\nfunction calcConsumption(responseDue, resolutionDue, pausedAt, pausedDuration, bizStart, bizEnd) {\n  const now = Date.now();\n  const resDue = new Date(resolutionDue).getTime();\n  const respDue = new Date(responseDue).getTime();\n  const whpd = (bizEnd - bizStart) * 3600 * 1000;\n\n  let elapsed = now - (resDue - whpd * 24); // rough approximation\n  if (pausedAt) elapsed -= pausedDuration || 0;\n\n  const total = resDue - (respDue - (bizStart * 3600 * 1000));\n  const pct = total > 0 ? Math.min(100, Math.round((elapsed / (resDue - now + elapsed)) * 100)) : 0;\n\n  // Simpler: percentage of resolution window consumed\n  const createdApprox = new Date(resolutionDue).getTime() - (24 * 3600000); // fallback\n  const windowMs = resDue - createdApprox;\n  const consumedMs = now - createdApprox - (pausedDuration || 0);\n  const consumption = windowMs > 0 ? Math.min(100, Math.round((consumedMs / windowMs) * 100)) : 0;\n\n  let slaStatus = 'healthy';\n  if (consumption >= 100) slaStatus = 'breached';\n  else if (consumption >= 85) slaStatus = 'critical';\n  else if (consumption >= 65) slaStatus = 'warning';\n\n  return { consumption, slaStatus };\n}\n\nfor (const t of tickets) {\n  if (!t.sla_resolution_due || t.sla_status === 'resolved') {\n    results.push({ json: { ...t, _sla_consumption: 0, _sla_status: t.sla_status || 'healthy', _needs_escalation: false } });\n    continue;\n  }\n\n  const bizStart = parseInt((t.business_hours_start || '08:00').split(':')[0]);\n  const bizEnd   = parseInt((t.business_hours_end   || '20:00').split(':')[0]);\n  const { consumption, slaStatus } = calcConsumption(\n    t.sla_response_due, t.sla_resolution_due,\n    t.sla_paused_at, t.sla_paused_duration,\n    bizStart, bizEnd\n  );\n\n  // Needs escalation if crossing a threshold that hasn't been alerted yet\n  const currentLevel = t.escalation_level || 0;\n  const THRESHOLDS = [\n    { pct: 65, level: 1 }, { pct: 78, level: 2 },\n    { pct: 85, level: 3 }, { pct: 90, level: 4 }\n  ];\n  const nextLevel = THRESHOLDS.find(t => consumption >= t.pct && t.level > currentLevel);\n\n  results.push({ json: {\n    ...t,\n    _sla_consumption: consumption,\n    _sla_status: slaStatus,\n    _needs_escalation: !!nextLevel,\n    _next_escalation_level: nextLevel?.level || currentLevel,\n    _next_escalation_threshold: nextLevel?.pct || null\n  }});\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3808,
        7168
      ],
      "id": "7a99336e-f01e-44cd-abc5-097270887ea7",
      "name": "Calculate SLA Consumption"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE main.tickets SET\n  sla_consumption_pct = {{$json.processed_tickets[0].consumption_pct }},\n  sla_status = '{{ $json.processed_tickets[0].sla_status }}',\n  escalation_level = {{ $json.processed_tickets[0].escalation_level }},\n  last_escalation_at = {{ $json.needs_escalation ? 'NOW()' : 'last_escalation_at' }},\n  updated_at = NOW()\nWHERE id = {{ $json.processed_tickets[0].ticket_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -3360,
        7248
      ],
      "id": "eff082aa-24c7-4d3e-840f-c7fb0729e692",
      "name": "Update SLA Status",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "needs-escalation",
              "leftValue": "={{ $('Calculate SLA Consumption').item.json.processed_tickets[0].needs_escalation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "808300cf-d4a8-4314-9083-73db40f537d4",
              "leftValue": "={{ $('Calculate SLA Consumption').item.json.processed_tickets[0].needs_breach_renotify }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3136,
        7168
      ],
      "id": "0264f014-c869-4f4d-b6d3-6a174c5e6503",
      "name": "Needs Escalation?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ec.level, ec.level_name, ec.notify_roles, ec.action_description,\n  ac.person_name, ac.email, ac.role_code, ac.clickup_user_id\nFROM main.escalation_configs ec\nJOIN main.solutions s ON ec.solution_id = s.id\nJOIN main.companies c ON s.company_id = c.id\nLEFT JOIN main.assignee_configs ac ON ac.solution_id = s.id\n  AND ac.role_code = ANY(ec.notify_roles)\nWHERE c.company_code = 'medgulf'\n  AND s.solution_code = 'app'\n  AND ec.level = {{ $('Calculate SLA Consumption').first().json.processed_tickets[0].escalation_level }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2912,
        7104
      ],
      "id": "04228fd2-ab5b-4d37-8c86-9def3df0d280",
      "name": "Get Escalation Recipients",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO main.sla_alerts (\n  ticket_id, alert_level, consumption_pct,\n  notified_emails, notification_channel, created_at\n)\nSELECT\n  {{ $('Calculate SLA Consumption').first().json.processed_tickets[0].ticket_id }},\n  {{ $('Calculate SLA Consumption').first().json.processed_tickets[0].escalation_level }},\n  {{ $('Calculate SLA Consumption').first().json.processed_tickets[0].consumption_pct }},\n  ARRAY[{{ $('Get Escalation Recipients').all().map(i => \"'\" + i.json.email + \"'\").join(',') }}],\n  'clickup_comment',\n  NOW()\nWHERE NOT EXISTS (\n  SELECT 1 FROM main.sla_alerts sa\n  WHERE sa.ticket_id = {{ $('Calculate SLA Consumption').first().json.processed_tickets[0].ticket_id }}\n    AND sa.alert_level = {{ $('Calculate SLA Consumption').first().json.processed_tickets[0].escalation_level }}\n    AND (\n      {{ $('Calculate SLA Consumption').first().json.processed_tickets[0].escalation_level }} < 4\n      OR\n      ({{ $('Calculate SLA Consumption').first().json.processed_tickets[0].escalation_level }} = 4 AND sa.created_at > NOW() - INTERVAL '1 hour')\n    )\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -2688,
        7104
      ],
      "id": "fa835651-5728-4ddd-a718-56cf6e57f665",
      "name": "Insert SLA Alert",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO main.processing_logs (\n  workflow_name, entity_type, action, status, details, created_at\n) VALUES (\n  'cortex_clickup_sync',\n  'workflow_run',\n  'sync_complete',\n  'success',\n  jsonb_build_object('timestamp', NOW()::text),\n  NOW()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -1344,
        7104
      ],
      "id": "5a38eff4-6eca-4d7a-aa4a-e35434f2210a",
      "name": "Log Workflow Run",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const solutions = $('Fetch Solution Config').all().map(i => i.json);\nconst slaConfigs = $('Fetch SLA Configs').all().map(i => i.json);\n\n// Build field config map keyed by solution_id\nconst solutionFieldConfigs = {};\nconst solutionByListId = {};\nconst solutionById = {};\nfor (const sol of solutions) {\n  const configs = Array.isArray(sol.custom_field_configs)\n    ? sol.custom_field_configs\n    : (typeof sol.custom_field_configs === 'string' ? JSON.parse(sol.custom_field_configs) : []);\n  const fieldMap = {};\n  for (const cfg of configs) {\n    fieldMap[cfg.field_key] = {\n      clickup_field_id: cfg.clickup_field_id,\n      options: typeof cfg.options === 'string' ? JSON.parse(cfg.options) : (cfg.options || {})\n    };\n  }\n  solutionFieldConfigs[sol.solution_id] = fieldMap;\n  solutionByListId[sol.clickup_list_id] = sol;\n  solutionById[sol.solution_id] = sol;\n}\n\n// Build SLA config map: solution_id -> { priority -> {response_hours, resolution_hours} }\nconst slaBySolution = {};\nfor (const sla of slaConfigs) {\n  if (!slaBySolution[sla.solution_id]) slaBySolution[sla.solution_id] = {};\n  slaBySolution[sla.solution_id][sla.priority] = sla;\n}\n\nreturn [{\n  json: {\n    _solutions: solutions,\n    _sla_configs: slaConfigs,\n    _sla_by_solution: slaBySolution,\n    _solution_field_configs: solutionFieldConfigs,\n    _solution_by_list_id: solutionByListId,\n    _solution_by_id: solutionById\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6672,
        8208
      ],
      "id": "7522fe4c-5cb7-4656-9774-1a501cdbdc98",
      "name": "Merge Configs"
    },
    {
      "parameters": {
        "jsCode": "const dbTickets = $input.all().map(i => i.json);\nreturn [{\n  json: {\n    _db_tickets: dbTickets\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7344,
        8208
      ],
      "id": "f0bee05e-74c6-40ff-a9fa-5d8a894f3639",
      "name": "Merge DB Tickets"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4000,
        7184
      ],
      "id": "4417eecd-bef4-4c89-a762-0a132f79af52",
      "name": "For each Ticket"
    },
    {
      "parameters": {
        "jsCode": "const done = $input.all().map(i => i.json);\nreturn [{\n  json: {\n    _done: done\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4448,
        7184
      ],
      "id": "a47114e4-5c6b-4d3b-b381-ed012094e4ff",
      "name": "Merge all in 1 item"
    },
    {
      "parameters": {
        "jsCode": "// Just pass through to loop\nreturn [{ json: { _continue: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        7104
      ],
      "id": "d5d085f1-92cb-4ed2-9381-5fed88a468a0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91faa5da-6c77-42d2-8091-d3c59309258a",
              "leftValue": "={{ $json.processed_tickets }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3584,
        7168
      ],
      "id": "3f4b7403-add7-454e-92ed-4bd0ca819499",
      "name": "processed_tickets is empty?"
    },
    {
      "parameters": {
        "content": "# SLA Calculation and Alert Generations",
        "height": 544,
        "width": 3952,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5152,
        6864
      ],
      "typeVersion": 1,
      "id": "f9e23d69-1085-4724-bc3d-6de70715c5c2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# New Ticket",
        "height": 544,
        "width": 2736,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5200,
        7824
      ],
      "typeVersion": 1,
      "id": "54447370-2a52-466e-bbd8-b965a0f0a8aa",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Existing Ticket Ticket",
        "height": 544,
        "width": 2272,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5200,
        8384
      ],
      "typeVersion": 1,
      "id": "e64913c1-97dd-409c-b571-88d17c3f4f07",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Ticket Deletion & Fallback",
        "height": 544,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5200,
        8960
      ],
      "typeVersion": 1,
      "id": "fd662af3-736d-4930-ab81-ba7b3b9e0ffa",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "const t = $input.first().json;\n\nconst levelLabels = { 1: 'Yellow Alert', 2: 'Orange Alert', 3: 'Red Alert', 4: 'Critical Breach' };\nconst level = t._next_escalation_level || 1;\nconst labelText = levelLabels[level] || 'Escalation';\nconst pct = t._sla_consumption || 0;\n\n// Build AI prompt for escalation comment\nconst prompt = `You are a support operations AI writing a concise ClickUp escalation comment.\n\nTicket: ${t.title}\nPriority: ${t.priority}\nCurrent Status: ${t.status}\nSLA Consumed: ${pct}%\nEscalation Level: ${level} (${labelText})\nModule: ${t.module || 'N/A'}\nRequest Type: ${t.request_type || 'N/A'}\n\nWrite a professional 2-3 sentence escalation comment for the support team. \nBe direct about urgency, current SLA position, and what action is needed.\nDo NOT use placeholders or markdown headers. Output plain text only.`;\n\nreturn [{\n  json: {\n    ...t,\n    _escalation_prompt: prompt,\n    _escalation_level: level,\n    _escalation_label: labelText,\n    _escalation_pct: pct\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        7104
      ],
      "id": "b8f3c6e3-72ef-4cc4-8a68-535234976a61",
      "name": "Build Escalation Notification"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "78f1e68c-b243-4e05-9952-021698c1f2e7",
              "leftValue": "={{ $json._skip_notification }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2240,
        7104
      ],
      "id": "055eecc7-e2df-4b02-864f-0789cb677b93",
      "name": "Skip Check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.clickup_task_id }}/comment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "pk_93735320_XU6SZJQGN677F46481KDAUGANNZU1GOT"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._comment_request_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2016,
        7104
      ],
      "id": "dd59ed3f-7552-462a-804f-4b69c0ac82b1",
      "name": "Post ClickUp Escalation Comment"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $('Build Escalation Notification').first().json.clickup_task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "pk_93735320_XU6SZJQGN677F46481KDAUGANNZU1GOT"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assignees\": {\n    \"add\": {{ JSON.stringify($('Build Escalation Notification').first().json.notified_user_ids) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1776,
        7088
      ],
      "id": "c67f5884-7b77-48d2-81d9-3307202bec2f",
      "name": "Add Escalation Assignees"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO main.threads (\n  ticket_id, action_type, actor_email, actor_name, raw_content, thread_source, created_at\n) VALUES (\n  {{ $json._db_ticket_id || $json.ticket_id }},\n  'escalation',\n  'system',\n  'System',\n  '{{ ($json._escalation_comment || $json._escalation_label || \"Escalation triggered\").replace(/'/g,\"''\") }} \u2014 SLA {{ $json._escalation_pct }}% consumed',\n  'clickup',\n  NOW()\n);\n\nUPDATE main.tickets\nSET\n  escalation_level = {{ $json._escalation_level }},\n  last_escalation_at = NOW(),\n  sla_consumption_pct = {{ $json._sla_consumption || $json._escalation_pct }},\n  sla_status = '{{ $json._sla_status || \"warning\" }}'\nWHERE id = {{ $json._db_ticket_id || $json.ticket_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1568,
        7104
      ],
      "id": "3c143780-a023-409e-8b2b-ef08bdd825aa",
      "name": "Insert Escalation Thread",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "updateDB",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7824,
        8320
      ],
      "id": "bcddedbb-1cd4-4b32-83bf-f492c9c53a5f",
      "name": "Webhook",
      "webhookId": "b266d8ec-93fd-45d8-b9a8-8004d888d438"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id, action_type, actor_name, actor_email,\n  old_value, new_value, raw_content, ai_summary,\n  created_at, thread_source, metadata\nFROM main.threads\nWHERE ticket_id = {{ $json._db_ticket_id }}\nORDER BY created_at ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4464,
        8480
      ],
      "id": "18e79b1e-c809-454d-83b2-97d4473c7cc3",
      "name": "Fetch All Threads",
      "credentials": {
        "postgres": {
          "id": "Ue6BsbBhIWJaDVXC",
          "name": "Omer - Supabase"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -7760,
        7952
      ],
      "id": "a179b1e3-a852-4861-bed7-14f4effb9732",
      "name": "Every 6 hours"
    },
    {
      "id": "b0324943-3c6f-40f2-9def-8140ba7a7b92",
      "name": "Paginate All Solutions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        300
      ],
      "parameters": {
        "jsCode": "// Fetch tasks from ALL solution lists with full pagination\nconst solutions = $('Fetch Solution Config').all().map(i => i.json);\nconst TOKEN = 'pk_93735320_XU6SZJQGN677F46481KDAUGANNZU1GOT';\nconst BASE = 'https://api.clickup.com/api/v2';\n\nconst allTasks = [];\nconst listMeta = {};\n\nfor (const sol of solutions) {\n  const listId = sol.clickup_list_id;\n  if (!listId) continue;\n  listMeta[listId] = sol;\n\n  let page = 0;\n  let lastPage = false;\n\n  while (!lastPage) {\n    const url = `${BASE}/list/${listId}/task?archived=false&include_closed=true&subtasks=true&page=${page}`;\n    const resp = await $helpers.httpRequest({\n      method: 'GET',\n      url,\n      headers: { Authorization: TOKEN }\n    });\n\n    const tasks = resp.tasks || [];\n    // Tag each task with its list_id so Compare & Classify can resolve solution\n    for (const t of tasks) {\n      t._source_list_id = listId;\n      t._solution_id = sol.solution_id;\n    }\n    allTasks.push(...tasks);\n\n    lastPage = resp.last_page !== false ? true : false;\n    if (tasks.length < 100) lastPage = true; // ClickUp returns max 100/page\n    page++;\n    if (page > 20) break; // safety cap \u2014 2000 tasks max\n  }\n}\n\nreturn [{ json: { _all_tasks: allTasks, _list_meta: listMeta } }];\n"
      }
    },
    {
      "id": "8d193b22-e353-4e3b-8cc4-b8988c0e75f2",
      "name": "Push DB Ticket to ClickUp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        700
      ],
      "parameters": {
        "jsCode": "const ticket = $input.first().json;\nconst TOKEN = 'pk_93735320_XU6SZJQGN677F46481KDAUGANNZU1GOT';\nconst listId = ticket._list_id;\nif (!listId) return [{ json: { ...ticket, _push_result: 'no_list_id' } }];\n\nconst fieldConfig = ticket._field_config || {};\n\n// Build custom fields array from fieldConfig\nfunction resolveOption(fieldKey, optionName) {\n  const cfg = fieldConfig[fieldKey];\n  if (!cfg) return null;\n  return cfg.options?.[optionName] || null;\n}\n\nconst customFields = [];\nconst rtId = fieldConfig['request_type']?.clickup_field_id;\nconst rtOpt = resolveOption('request_type', ticket.request_type);\nif (rtId && rtOpt) customFields.push({ id: rtId, value: rtOpt });\n\nconst ctId = fieldConfig['case_type']?.clickup_field_id;\nconst ctOpt = resolveOption('case_type', ticket.case_type);\nif (ctId && ctOpt) customFields.push({ id: ctId, value: ctOpt });\n\nconst srcId = fieldConfig['source']?.clickup_field_id;\nconst srcOpt = resolveOption('source', ticket.channel || 'apex');\nif (srcId && srcOpt) customFields.push({ id: srcId, value: srcOpt });\n\nconst PMAP = { P1: 1, P2: 2, P3: 3, P4: 4, P5: 4 };\nconst SMAP = { 'open':'open','in progress':'in progress','on hold':'on hold','resolved':'complete','closed':'complete' };\n\nconst body = {\n  name: `ticketNo-${ticket.ticket_id} | ${(ticket.title||'').substring(0,80)}`,\n  description: ticket.description || '',\n  priority: PMAP[ticket.priority] || 3,\n  status: SMAP[ticket.status?.toLowerCase()] || 'open',\n  assignees: [87796566],\n  ...(customFields.length > 0 ? { custom_fields: customFields } : {})\n};\n\ntry {\n  const resp = await $helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.clickup.com/api/v2/list/${listId}/task`,\n    headers: { Authorization: TOKEN, 'Content-Type': 'application/json' },\n    body\n  });\n  return [{ json: { ...ticket, _new_clickup_task_id: resp.id, _new_clickup_url: resp.url, _push_result: 'ok' } }];\n} catch(e) {\n  return [{ json: { ...ticket, _push_result: 'error', _push_error: e.message } }];\n}\n"
      }
    },
    {
      "id": "0ec68dc3-cfb9-4243-a9a1-8fc4acb4a486",
      "name": "Update Ticket ClickUp ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2020,
        700
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE main.tickets\nSET clickup_task_id = '{{ $json._new_clickup_task_id }}',\n    clickup_url     = '{{ $json._new_clickup_url }}',\n    updated_at      = NOW()\nWHERE id = {{ $json._db_ticket_id }}\n  AND '{{ $json._push_result }}' = 'ok'"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch DB Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ClickUp Tasks": {
      "main": [
        [
          {
            "node": "Paginate All Solutions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch DB Tickets": {
      "main": [
        [
          {
            "node": "Merge DB Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Solution Config": {
      "main": [
        [
          {
            "node": "Fetch SLA Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch SLA Configs": {
      "main": [
        [
          {
            "node": "Merge Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare & Classify": {
      "main": [
        [
          {
            "node": "Loop Each Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Each Ticket": {
      "main": [
        [
          {
            "node": "Merge all in 1 item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Check POC Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch ClickUp Comments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Soft Delete Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push DB Ticket to ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check POC Exists": {
      "main": [
        [
          {
            "node": "Evaluate POC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate POC": {
      "main": [
        [
          {
            "node": "POC Needs Create?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POC Needs Create?": {
      "main": [
        [
          {
            "node": "Create POC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge POC ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create POC": {
      "main": [
        [
          {
            "node": "Merge POC ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge POC ID": {
      "main": [
        [
          {
            "node": "Build LLM Profile Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Profile Request": {
      "main": [
        [
          {
            "node": "LLM Call - Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call - Profile": {
      "main": [
        [
          {
            "node": "Parse LLM + Calculate SLA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM + Calculate SLA": {
      "main": [
        [
          {
            "node": "Insert New Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Ticket": {
      "main": [
        [
          {
            "node": "Build Initial Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Initial Thread": {
      "main": [
        [
          {
            "node": "Insert Initial Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Initial Thread": {
      "main": [
        [
          {
            "node": "New Ticket Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Ticket Done": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ClickUp Comments": {
      "main": [
        [
          {
            "node": "Detect Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Changes": {
      "main": [
        [
          {
            "node": "Has Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Changes?": {
      "main": [
        [
          {
            "node": "Fetch All Threads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip No Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Summary Request": {
      "main": [
        [
          {
            "node": "LLM Call - Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Call - Summarize": {
      "main": [
        [
          {
            "node": "Parse Summary + SLA Impact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Summary + SLA Impact": {
      "main": [
        [
          {
            "node": "Update Existing Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Ticket": {
      "main": [
        [
          {
            "node": "Build Update Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Threads": {
      "main": [
        [
          {
            "node": "Insert Update Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Update Threads": {
      "main": [
        [
          {
            "node": "Existing Ticket Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing Ticket Done": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip No Changes": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soft Delete Ticket": {
      "main": [
        [
          {
            "node": "Delete Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Done": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No-Op": {
      "main": [
        [
          {
            "node": "Merge All Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Paths": {
      "main": [
        [
          {
            "node": "Continue Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue Loop": {
      "main": [
        [
          {
            "node": "Loop Each Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Tickets for SLA": {
      "main": [
        [
          {
            "node": "For each Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate SLA Consumption": {
      "main": [
        [
          {
            "node": "processed_tickets is empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update SLA Status": {
      "main": [
        [
          {
            "node": "Needs Escalation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Escalation?": {
      "main": [
        [
          {
            "node": "Get Escalation Recipients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Workflow Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Escalation Recipients": {
      "main": [
        [
          {
            "node": "Insert SLA Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert SLA Alert": {
      "main": [
        [
          {
            "node": "Build Escalation Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Workflow Run": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Configs": {
      "main": [
        [
          {
            "node": "Fetch ClickUp Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge DB Tickets": {
      "main": [
        [
          {
            "node": "Fetch Solution Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "For each Ticket": {
      "main": [
        [],
        [
          {
            "node": "Calculate SLA Consumption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge all in 1 item": {
      "main": [
        [
          {
            "node": "Fetch Active Tickets for SLA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "For each Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "processed_tickets is empty?": {
      "main": [
        [
          {
            "node": "Needs Escalation?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update SLA Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Escalation Notification": {
      "main": [
        [
          {
            "node": "Skip Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Check": {
      "main": [
        [
          {
            "node": "Post ClickUp Escalation Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "For each Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post ClickUp Escalation Comment": {
      "main": [
        [
          {
            "node": "Add Escalation Assignees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Escalation Assignees": {
      "main": [
        [
          {
            "node": "Insert Escalation Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Escalation Thread": {
      "main": [
        [
          {
            "node": "Log Workflow Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch DB Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Threads": {
      "main": [
        [
          {
            "node": "Build LLM Summary Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 6 hours": {
      "main": [
        [
          {
            "node": "Fetch DB Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push DB Ticket to ClickUp": {
      "main": [
        [
          {
            "node": "Update Ticket ClickUp ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paginate All Solutions": {
      "main": [
        [
          {
            "node": "Compare & Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3dcfab9-905e-4c00-9482-39f26dd0b4af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e55337cd04f1eaeb9d80b3109da0b9a0ef8db1dfc622debb9291d0d8019d0fb5"
  },
  "id": "HzLpGcq3LQ5v95b8",
  "tags": []
}